#
# Touchscreen driver configuration
#
menuconfig INPUT_TOUCHSCREEN
	bool "Touchscreens"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_TOUCHSCREEN

source "drivers/input/touchscreen/synaptics_dsx_2.7/Kconfig"

config OF_TOUCHSCREEN
	def_tristate INPUT
	depends on INPUT

config SECURE_TOUCH
	bool "Secure Touch"
	depends on (TOUCHSCREEN_SYNAPTICS_I2C_RMI4 || \
	  TOUCHSCREEN_SYNAPTICS_DSX_I2C_v21)
	help
	  Say Y here to enable Secure Touch in supported drivers.

	  If unsure, say N.

source "drivers/input/touchscreen/NVT_Touch/Kconfig"

endif
